/* Estilo general de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://filedn.com/lRAMUKU4tN3HUnQqI5npg4H/Plantix/Background/41ca9243-be8f-4b53-9afa-1a7961363874.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.centered-container {
    text-align: center;
    width: 80%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 960px;
}

/* Estilo para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007D60;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo para botones y selectores */
button, select {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #00563F;
    color: white;
}

/* Estilo para la sección de carga de imágenes y toma de fotografía */
.image-upload-section {
    margin: 20px 0;
    text-align: center;
}

.custom-file-upload {
    padding: 10px;
    margin: 10px;
    background-color: #007D60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-preview {
    margin-top: 10px;
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #ddd;
}

/* Estilo para casillas de texto */
.text-inputs-section {
    margin-top: 20px;
}

.text-inputs-section label {
    display: block;
    margin-bottom: 5px;
}

.text-inputs-section input,
.text-inputs-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .centered-container {
        width: 95%;
        padding: 10px;
    }

    .image-preview {
        max-width: 100%;
        height: auto;
    }

    table {
        display: block;
        overflow-x: auto;
    }

    .text-inputs-section input,
    .text-inputs-section textarea {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    button, .custom-file-upload {
        width: 100%;
        margin: 10px 0;
    }

    .text-inputs-section label,
    .text-inputs-section input,
    .text-inputs-section select,
    .text-inputs-section textarea {
        font-size: 14px;
    }
}
